# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pyc
*.pdb
.Python
env/
venv/
ENV/
env.bak/
venv.bak/

# Jupyter Notebook
.ipynb_checkpoints

# dotenv
.env

# VSCode settings
.vscode/

# macOS
.DS_Store

# Logs
*.log

# Flask-related
instance/
*.db

# Docker
*.pid
docker-compose.override.yml

# Node (for frontend if using npm/yarn)
node_modules/
dist/
build/
.env.local
.env.production
.env.development

# Coverage and test
htmlcov/
.tox/
.nox/
.coverage
coverage.xml
.cache
pytest_cache/
nosetests.xml
test-results/

# mypy
.mypy_cache/
.dmypy.json
dmypy.json

# pyright
pyrightconfig.json
